<%- include('../partials/header') %> <!-- including GLOBAL header -->

    <title> Explore || MS TEAMS </title>

    <link rel="stylesheet" type="text/css" href="stylesheet/userHome/explore.css">
    <script defer src="/scripts/userHomePage/explore.js"></script>
    <script>
        let userId = "<%= userid %>"
    </script>

</head>

<body>
    
    <!-- ---------------------Global Components--------------------------- -->

    <%- include('../partials/navbar') %>    
    <%- include('../partials/flashSuccess') %>    <!-- for flashing success messages -->
    <%- include('../partials/flashError') %>      <!-- for flashing error messages -->

    <div class="homeScreen">
        <div class="accessOptions">
            <p>
                <span class="heading">MICROSOFT TEAMS </span> <br>

                <span class="description" style="color: black">
                    Meet , Chat , Call and <br>
                    Collaborate in just one place
                </span>            
            </p>

            <div class="meet-options">
                <div class="meet-buttons-container">
                    <button type="button" class="btn btn-outline" onClick="showCreateMeetInput()">
                        <i class="fas fa-video"></i> New meeting </button> 
                    <button type="button" class="btn btn-outline" onClick="showCreateConvoInput()">
                        <i class="far fa-edit"></i> New Team conversation </button>
                     
                </div>

                <div id="newMeetInput" class="meet-input-container" onfocus="showCreateMeetButton()">
                    <form action="/meet-conversations" method="post">
                        <input type="hidden" value='<%=userid %>' name="creatorId">
                        <input type="hidden" value='true' name="isMeet">
                        <input id="meetName" name="roomName" placeholder="Enter the Meeting name" >
                        <button type="submit" id="createMeet" class="btn btn-outline">Create</button>
                    </form>
                </div>

                <div id="newConvoInput" class="meet-input-container" onfocus="showCreateConvoButton()">
                    <form action="/meet-conversations" method="post">
                        <input type="hidden" value='<%=userid %>' name="creatorId">
                        <input type="hidden" value='false' name="isMeet">
                        <input id="convoName" name="roomName" placeholder="Enter the Group name" >
                        <button type="submit" id="createConvo" class="btn btn-outline">Create</button>
                    </form>
                </div>

                <div class="meet-buttons-container">
                    <button type="button" class="btn btn-outline" onClick="showJoinMeetInput()">
                        <i class="fas fa-chalkboard-teacher"></i> Join meeting </button> 
                    <button type="button" class="btn btn-outline" onClick="showJoinConvoInput()">
                        <i class="fas fa-users"></i> Join Team conversation </button>
                </div>

                <div id="joinConvoInput" class="meet-input-container" onfocus="showJoinConvoButton()">
                    <input type="required" id="linkConvo" placeholder="Enter the conversation link" >
                    <button type="button" id="joinConvo" class="btn btn-outline" onClick="location.href=document.getElementById('linkConvo').value">Join</button>
                </div>

                <div id="joinMeetInput" class="meet-input-container" onfocus="showJoinMeetButton()">
                    <input type="required" id="linkMeet" placeholder="Enter the meeting link">
                    <button type="button" id="joinMeet" class="btn btn-outline" onClick="location.href=document.getElementById('linkMeet').value">Join</button>
                </div>

            </div>

        </div>

        <div class="homeImage">
            <img src="/images/msGif.gif" class="img-fluid">
        </div>
    </div>
    <br><br>
    <div class="home-bottom">
        <span class="heading">Microsoft Teams is for everyone </span> <br><br>
        <span class="description">
            Whether it’s chat, calls, or video, anyone can engage at any time, bringing everyone closer.<br>
            Your docs, photos, videos, chat history, and meeting notes are always there, so it’s easier to work together.<br>
            Set up your team’s space with all the apps you need so you can stay in just one place instead of jumping around.
        </span>
    </div>

<%- include('../partials/footer') %>