<%- include('partials/header') %>

<title>MS Teams</title>

<script>
  const ROOM_ID = "<%= roomId %>"
</script>

<script>
  
</script>

<style>
  body{
    background-color:black;
    margin: 0 auto;
  }
  #video-grid {
    display: flex;
    /* flex-direction: column; */
    width:100%;
    margin:0 auto;
    
  }
  .vidClass{
    border-radius:10px;
    padding: 2px;
  }

  .vidCon{
    justify-content:space-around
  }
  video {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    margin : 0 auto;
    padding:5px;
  }

  .focus{
    display:flex;
    background-color: rgba(27,26,26,1);
  }
  .screen{
    width: 100%;
    height: 90vh;
    display:flex;
    margin-top: 10px;
  }

  .vert-nav{
    display:flex;
  }

  .link-icons{
    color:white;
    opacity: 0.3
  }
  .link-icons:hover{
    color:white;
    opacity: 1;
  }

  .mute{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
    position: relative;
    width:10%;
    top:30em;
    right:0em;
    z-index: 10;
    /* background-color:white;     */
  }
  
</style>
</head>

<body>
  <div class="mute">
    <button type="button" id="mute-mic" class="btn btn-warning"><i class="fas fa-microphone"></i></button>
    <button type="button" id="mute-vid" class="btn btn-danger"><i class="fas fa-video"></i></button>
  </div>
  <!-- <%- include('partials/navbar') %> -->
  <div class="screen">
    <%- include('partials/leftIcons') %>
    <div class="focus container">
      <div id="video-grid" class="row row-cols-1 row-cols-sm-2 row-cols-md-3"></div>
      <!-- <div class="vid-options"></div> -->
    </div>
    <div>
      <%- include('partials/leftIcons') %>
    </div>
  </div>

  <!-- <div id="video-grid" class="col-4"></div> -->

  <%- include('partials/footer') %>