<%- include('../partials/header') %>

    <title>Show Post || MS Teams</title>
    <link rel="stylesheet" href="/stylesheet/feed/showPost.css" type="text/css">

</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="container post-container">
        <div class="img-div">
            <% if(post.image=="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202104/photo-1531564701487-f238224b7c_1200x768.jpeg?q_6io2tiCIj7McK_gRABr11yUCEqtSAC&size=1200:675") {%>
                <img src="<%= post.image %>" class="post-img">
            <% } else { %>
                <img src="\<%= post.image %>" class="post-img">
            <% } %>
        </div>
        <h1 style="margin-top:1em;text-align:center"> <%= post.title %> </h1><br>
        <h6 style="text-align:center;opacity: 0.5;"><%= post.date.toDateString() %> </h6><br>
        <p style="margin-top:1em;text-align:center">
            <%- post.description %>
        </p>

        <% if(post.ownerId == userid){ %>
        <div class="d-flex" style="flex-direction: row; margin-top:2em">
            <a href="/post/edit/<%= post._id %>"><button class="btn btn-outline-primary">
                Edit
            </button></a>
            
            <form class="deleteForm" action="/post/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger" type="submit" style="margin-left: 1em;">
                    Delete
                </button>
            </form>
        </div>
        <% } %>
    </div>


<%- include('../partials/footer') %>