<%- include('../partials/header') %>

  <title>Meeting Chats || MS Teams</title>

  <link rel="stylesheet" href="/stylesheet/chat/chats.css" type="text/css">

  <script defer src="/scripts/chat/meetChat.js"></script>
  <script>
    let userId = "<%= userid %>"
  </script>

  </head>

  <body>
    <%- include('../partials/navbar') %>
      <%- include('../partials/flashSuccess') %>
        <%- include('../partials/flashError') %>

          <div class="container p-0" style="height: calc(100% - 56px);">
            <div class="messaging">
              <div class="inbox_msg">
                <div class="inbox_people">
                  <div class="" style="color:#4b53bc;border-bottom:1px solid #c4c4c4;height:45px">
                    <h4 class="m-0 p-2  px-3">Recent</h4>
                  </div>
                  <div id="people" class="inbox_chat">

                  </div>
                </div>
                <div class="initial-bg">

                </div>
                <div class="mesgs">
                  <div id="messageHead">
                    <i id="back" class="fas fa-arrow-circle-left" onclick="showPeople()"></i>
                    <div><img class="friend_img rounded-circle" src="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/portrait/small/avatar-s-11.png" alt="User"></div>
                    <div id="friendName"></div>
                    <button type="button" class="btn mx-2 rounded-circle " onclick=inviteToConversation()><i
                        class="fas fa-share-alt"></i></button>
                    <button type="button" class="btn btn-outline-dark rounded-0 m-2 p-0 px-3 btn-sm"
                      onclick="joinCurrentMeet()">

                      Join meet
                    </button>
                  </div>
                  <div id="chats" class="msg_history">

                  </div>
                  <div class="type_msg">
                    <div class="input_msg_write">

                      <input type="text" class="write_msg pe-5 px-2 shadow-none border-none form-control d-inline-block"
                        placeholder="Type a message" />
                      <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane"></i></button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
  </body>

  </html>