<%- include('../partials/header') %>

  <title>Meet || MS Teams</title>

  <link rel="stylesheet" href="/stylesheet/room/room.css" type="text/css">

  <script defer src="/scripts/meetingRoom/room.js"></script>
  <script defer src="/scripts/meetingRoom/recordMeeting.js"></script>
  <script defer src="/scripts/meetingRoom/roomControls.js"></script>

  <script>
    const roomId = "<%= roomId %>"
    const currentUser = "<%= currentUser.name %>"
    const dbUserID = "<%= currentUser._id %>"
  </script>

</head>

<body>

  <div id="screen">

    <%- include('../partials/leftIcons') %>

    <div id="video-grid" class="row row-cols-1 row-cols-sm-2 row-cols-md-3"></div>
  
     <!-- Chat Section -->

    <div id="chat_box" class="main__right" style="display:none">
      <div class="main__header">
          <h6>Chat <a style="float:right;margin-right: 1em;" onclick="toggleChat()"><i class="fas fa-times"></i></a></h6>
      </div>
      <div class="main__chat_window">
          <ul class="messages">

          </ul>

      </div>
      <hr>
      <div class="main__message_container">
          <input id="chat_message" type="text" placeholder="Type" onfocus="showSend()">
          <a id="send"><i class="fas fa-paper-plane"></i></a>
      </div>
    </div>


    <!-- Participant Section -->
        <div id="participant_box" class="main__right" style="display:none">
      <div class="main__header">
          <h6>Participants <a style="float:right;margin-right: 1em;" onclick="toggleParticipants()"><i class="fas fa-times"></i></a></h6>
      </div>
      <div class="participant_window">
          <ul class="participants">
          </ul>

      </div>
      <hr>
      <div class="participant_container" onclick="invite()">
        <i class="fas fa-2x fa-share-alt"></i>
          <input id="invitePeople" type="text" placeholder="Invite participants" disabled>
      </div>
    </div>

  </div>
  
  <div id="vidActions" class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" id="mute-mic" ><i class="fas fa-microphone"></i></button>
    <button type="button" id="mute-vid" ><i class="fas fa-video"></i></button>
    <button type="button" id="show-chat" onclick="toggleChat()"><i class="far fa-comment-dots"></i></button>
    <button type="button" id="show-participants" onclick="toggleParticipants()"><i class="fas fa-users"></i></button>  
    <!-- <button type="button" id="btnStart"><i class="fas fa-play"></i></button>
    <button type="button" id="btnStop" ><i class="fas fa-stop"></i></button> -->
    <button type="button" id="share-screen" ><i class="fas fa-desktop"></i></button>
    <button type="button" onclick=invite()><i class="fas fa-share-alt"></i></button>
    <button id="pipButtonElement"><i class="far fa-images"></i></button>
    <!-- <video id="vid" controls></video> -->
    <!-- <video id="vid2" controls></video> -->
  
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Dropdown link</a>
        <a class="dropdown-item" href="#">Dropdown link</a>
      </div>
    </div>
  </div>


<!-- GOOGLE CALENDAR -->

  <script>
    function showSend(){
      $('#send').show();
    }
    function hideSend(){
      $('#send').hide();
    }
  </script>

</body>
</html>

